<div class="fondo-negro animated fadeIn " [ngClass]="oculto">

    <div class="modal" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recuperacion de contraseña</h5>
                    <button type="button" (click)="enviarValor($event)" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <label for="exampleInputEmail1">Correo Electronico:</label>
                    <input [(ngModel)]="email" type="email" value="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="correo">
                    <small id="emailHelp" class="form-text text-muted">Ingrese su correo electronico</small>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="enviarValor($event)">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="restablecer()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

</div>