<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">



            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="activarUsuario()" class="form-horizontal form-material" id="loginform" action="index.html">

                <!-- <div id="DIV_1">
                    <p id="P_2">
                        <span id="SPAN_3">J</span>
                    </p>
                    <h3 id="H3_4">
                        Hello <span id="SPAN_5">juan paco</span>
                    </h3>
                    <p id="P_6">
                        <span id="SPAN_7">deliveryacistperu@gmail.com</span>
                    </p>
                </div>-->


                <h3 class="box-title m-t-40 m-b-40 m-l-60">Activa tu cuenta</h3>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="apellido" name="apellido" class="form-control" type="text" required placeholder="Apellido">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="correo" name="correo" class="form-control" type="email" required placeholder="Correo">
                    </div>
                </div>


                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="empresa" name="empresa" class="form-control" type="text" required placeholder="Empresa">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="dominio" name="dominio" class="form-control" type="text" required placeholder="Dominio">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="telefono" name="telefono" class="form-control" type="text" required placeholder="Telefono">
                    </div>
                </div>


                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="password" name="password" class="form-control" type="password" required placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirma contraseña">
                    </div>
                </div>

                <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                    <p class="text-danger">
                        Las contraseñas deben de se iguales
                    </p>
                </div>



                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">{{accion}}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->