#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 70px;
}

.img-50 {
    width: 50px;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#DIV_1 {
    height: 130px;
    text-align: center;
    width: 754.406px;
    perspective-origin: 377.203px 92.5px;
    transform-origin: 377.203px 92.5px;
    font: normal normal 400 normal 16px / normal -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 26px 0px 29px;
}


/*#DIV_1*/

#DIV_1:after {
    text-align: center;
    font: normal normal 400 normal 16px / normal -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#DIV_1:after*/

#DIV_1:before {
    text-align: center;
    font: normal normal 400 normal 16px / normal -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#DIV_1:before*/

#P_2 {
    height: 80px;
    text-align: center;
    width: 754.406px;
    perspective-origin: 377.203px 40px;
    transform-origin: 377.203px 40px;
    font: normal normal 400 normal 14px / 0px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
    margin: 0px;
}


/*#P_2*/

#P_2:after {
    text-align: center;
    font: normal normal 400 normal 14px / 0px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#P_2:after*/

#P_2:before {
    text-align: center;
    font: normal normal 400 normal 14px / 0px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#P_2:before*/

#SPAN_3 {
    color: rgb(255, 255, 255);
    display: block;
    height: 66px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 66px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 40px 40px;
    transform-origin: 40px 40px;
    caret-color: rgb(255, 255, 255);
    background: rgb(216, 216, 216) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 7px solid rgb(242, 242, 242);
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 36px / 66px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
    margin: 0px 337.203px;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_3*/

#SPAN_3:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 36px / 66px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_3:after*/

#SPAN_3:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 36px / 66px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}


/*#SPAN_3:before*/

#H3_4 {
    height: 19px;
    text-align: center;
    width: 754.406px;
    perspective-origin: 377.203px 9.5px;
    transform-origin: 377.203px 9.5px;
    font: normal normal 700 normal 16px / 19px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 7px 0px;
}


/*#H3_4*/

#H3_4:after {
    text-align: center;
    font: normal normal 700 normal 16px / 19px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#H3_4:after*/

#H3_4:before {
    text-align: center;
    font: normal normal 700 normal 16px / 19px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#H3_4:before*/

#SPAN_5 {
    text-align: center;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 600 normal 16px / 19px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#SPAN_5*/

#SPAN_5:after {
    text-align: center;
    font: normal normal 600 normal 16px / 19px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#SPAN_5:after*/

#SPAN_5:before {
    text-align: center;
    font: normal normal 600 normal 16px / 19px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*#SPAN_5:before*/

#P_6 {
    height: 17px;
    text-align: center;
    width: 754.406px;
    perspective-origin: 377.203px 8.5px;
    transform-origin: 377.203px 8.5px;
    font: normal normal 400 normal 14px / 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
    margin: 0px;
}


/*#P_6*/

#P_6:after {
    text-align: center;
    font: normal normal 400 normal 14px / 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#P_6:after*/

#P_6:before {
    text-align: center;
    font: normal normal 400 normal 14px / 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#P_6:before*/

#SPAN_7 {
    text-align: center;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#SPAN_7*/

#SPAN_7:after {
    text-align: center;
    font: normal normal 400 normal 14px / 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#SPAN_7:after*/

#SPAN_7:before {
    text-align: center;
    font: normal normal 400 normal 14px / 17px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none outside none;
}


/*#SPAN_7:before*/

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto {
    display: none;
}